<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Info</title>
</head>
<body>
    <form method="post" action="{% url 'country_info' %}">
        {% csrf_token %}
        <label for="country_name">Enter the country name: </label>
        <input type="text" id="country_name" name="country_name" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
